.custom-button {
  position: fixed;
  color: aliceblue;
  font-size: 35px;
  cursor: pointer;
  top: 30px;
  right: 30px;
  background-color: rgb(60, 112, 226);
  padding: 10px;
  border-radius: 50px;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.2),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}

.button:active {
  color: goldenrod;
}
